@media (max-width: 425px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-size: cover;
    }

    header {
        margin: 20px 0px 50px 30px;
    }

    header img {
        width: 130px;
    }

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .main-1 {
        margin-right: 50px;
    }

    main img {
        padding-left: 50px;
        width: 350px;
    }

    .main-2 {
        margin: 30px 80px 30px 80px;
    }

    h1 {
        padding-right: 50px;
        font-size: 24px;
    }

    p {
        padding-right: 50px;
        font-size: 15px;
    }

    .footer nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0px;
    }

    .footer nav ul li a {
        padding: 7px 6px 3px;
        border: 1px solid white;
        border-radius: 50px;
        color: var(--color);
    }

    .fa-facebook-f {
        font-size: 20px;
    }

    .fa-twitter {
        font-size: 20px;
    }

    .fa-instagram {
        font-size: 20px;
    }
}